


.lexend-font {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lexend-font {
 font-family: "Lexend";
} 
.font-color {
  color: #11111193;
}